        html {
    font-family: sans-serif; font-size: 12px; font-style: normal; font-variant: normal; font-weight: 600; line-height: 26.4px; color: #27302f; text-decoration: none;         
}
        a {
/*    color: #27302f;*/
            color: whitesmoke;
    text-decoration: none; 
    display: block;     
}


        .menu {
    padding-top: 20px;
    padding-left:5%;   
    list-style-type: none;
    overflow: hidden;
    position: absolute;         
}

a.white {

color: white;}

        li {
    float: left;
    padding-right: 60px;
}   


/*
        .menu {
    padding-top: 20px;
    padding-left:30%;   
    list-style-type: none;
    overflow: hidden;
    position: absolute;
    float: left;
        
}
*/